

.body{
    background-color: antiquewhite;
    height: 100vh; 
    margin: 25px 25px 25px 25px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login page */
.login{
    min-width: 400px;
    max-width: 550px;
    min-height: 400px;
    max-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    gap: 10px;

    background-color: rgb(107, 133, 133);
    border-radius: 10px;
}

#head{
    /* align-content: flex-start; */
    /* text-align:start ; */
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    /* vertical-align: super; */
    font-style: italic;
    font-size: x-large;
}

.users,
.pas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    padding-top: 20px;
}
#pass,
#mail{
    border-radius: 3px;
    border-style: groove;
    padding: 4px;
    gap: 10px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#but,
#buts{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#login,
#submit {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #ae6609;
    color: rgb(56, 44, 44);
    font-size: 15px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Button Hover */
#login:hover,
#submit:hover {
    background: #7fef22;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}



/* Form page */

.forms{
    min-width: 400px;
    max-width: 550px;
    min-height: 400px;
    max-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    gap: 10px;

    background-color: rgb(107, 133, 133);
    border-radius: 10px;
}

#name,
#gender,
#phone,
#address,
#term{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    padding-top: 10px;
    gap: 10px;
    width: 70%;

    #star{
        color: red;
    }
}

#submit{
    margin: auto;
}
